.icon{
    margin:10px;  
  }
  
  p{
    width:80vw;
  }
  
  
  .card{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin:10px;
    border:1px solid rgba(208, 235, 229,.3);
    transition:1s all;
  }
  
  .card:hover{
    border:1px solid rgba(208, 235, 229,1);
    box-shadow:1px 1px 5px 10px grey;
  
  }
  .card-wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  img{
    width:120px;
  }